---
import './index.css'
import Footer from '../components/footer.astro';
import Navbar from '../components/navbar';
import BookingForm from '../components/BookingForm';
import ImageSlider from '../components/ImageSlider.jsx'
import Testimonial from '../components/testimonial.jsx'
import ProjectList from '../components/ProjectList';
import articles from '../articles/articles';
import '../../node_modules/animate.css/animate.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Logan Brown Construction | Contact Us</title>
        <!-- <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
        </script>
        <script type="text/javascript">
            (function(){
                emailjs.init("YOUR_PUBLIC_KEY");
        })(); -->
<!-- </script> -->
	</head>
	<body class="bg-darkBlue flex flex-col">
        <Navbar page='contact' client:load />
		<div class="section-title-light contact-title">
			<h1 class="animate__animated animate__fadeIn animate__slow">Let's get started on turning your dream into a reality</h1>
            <a href="tel:+64278166962" class="animate__animated animate__fadeIn animate__slow">027 816 6962</a> 
            <h2 class="animate__animated animate__fadeIn animate__delay-1s">or send us a quick message</h2>
		</div>
		<section class="p-6 flex flex-col services-content animate__animated animate__fadeInUp animate__delay-1s">
			<BookingForm client:load/>
		</section>
		<section>
			<ProjectList client:load count={2} articles={articles} home={false} />
		</section>
        <Footer />
    </body>
