---
import './index.css'
import Icon from 'astro-icon'
import Footer from '../components/footer.astro';
import Navbar from '../components/navbar';
import ImageSlider from '../components/ImageSlider.jsx'
import articles from '../articles/articles';
import ProjectList from '../components/ProjectList';
import '../../node_modules/animate.css/animate.css'
// Change this to accept an array of objects as a prop in order to construct the slideshow
    // The idea is to use this component as a base to construct ALL slideshows by 
    // passing the images as a prop when needed

    const images = [
        {image: '../assets/D&B/main_entrance.jpg', alt: 'New Build Main Entrance'},
        {image: '../assets/D&B/entryway_hallway.jpg', alt: 'Entry Hallway'},
        {image: '../assets/D&B/master_bath.jpg', alt: 'Master Bathroom'},
        {image: '../assets/D&B/kitchen.jpg', alt: 'Kitchen'},
        {image: '../assets/D&B/bathroom_vanity_mirror.jpg', alt: 'Bathroom Vainty Mirror'},
];
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Logan Brown Construction | Design & Build</title>
	</head>
	<body class="bg-darkBlue flex flex-col">
        <Navbar page="d&b" client:load />
		<div class="section-title-light">
			<h1 class="animate__animated animate__fadeIn animate__slow">Design & Build</h1>
		</div>
		<section class="services-content">
			<h2 class="animate__animated animate__fadeInUp animate__slow">Beautifully Crafted to Suit  Your Lifestyle</h3>
			<p class="animate__animated animate__fadeInUp animate__slow">
				Welcome to Logan Brown Construction, where design and construction meet to create extraordinary spaces. With our expertise in the industry, we are dedicated to transforming your vision into reality. Whether it's crafting your dream home in the hills or building a family home in the city, we combine innovation, functionality, and exceptional craftsmanship to deliver outstanding results. Here at Logan Brown Construction we’re committed to see your vision come to life.
			</p>
			<h3 class="animate__animated animate__fadeIn animate__delay-2s">A Dedicated Approach</h2>
			<p class="animate__animated animate__fadeIn animate__delay-2s">
                We believe that great design and flawless execution go hand in hand. Our approach is rooted in collaboration, ensuring that your unique preferences and aspirations are at the forefront of every decision. We work closely with you, listening attentively to your needs, and blending our expertise with your vision. By harmonizing creativity, practicality, and attention to detail, we create spaces that reflect your personality, exceed your expectations, and stand the test of time.
            </p>
		</section>
            <ImageSlider client:load images={images} />

		<section class="p-6 flex flex-col items-center services-content">
            <h3>Our Collaborative Process</h2>
			<p>
                Our collaborative six-step approach ensures that we capture your vision, deliver exceptional craftsmanship, and bring your dreams to life. From start to finish, we are committed to providing a seamless and rewarding experience, resulting in a space that truly reflects your style and exceeds your expectations.
			</p>
        </section>
        <section class="p-6 pb-0 flex flex-col gap-6 ">

            <div class='step-block bg-darkBlue'>
                <Icon name='tabler:coffee'/>
                <h3>Initial Consultation</h3>
                <p>
                    We start by sitting down with you to understand your vision, goals, and requirements for your project. This consultation allows us to gain insight into your style preferences, functional needs, and budget considerations. We listen attentively and collaborate closely with you to ensure that we capture your vision accurately.
                </p>
            </div>
            <div class='step-block bg-step2'>
                <Icon name='icon-park-outline:concept-sharing' />
                <h3>Concept Development</h3>
                <p>
                    Based on the information gathered during the initial consultation, our team of skilled designers and architects begins creating conceptual designs for your project. We explore various possibilities, integrating your ideas with our expertise to develop innovative and practical design concepts that reflect your unique style and desired functionality.
                </p>
            </div>
            <div class='step-block bg-step3'>
                <Icon name='icon-park:list'/>
                <h3>Detailed Planning</h3>
                <p>
                    Once the concept is approved, we move on to the detailed planning phase. Our team meticulously develops comprehensive plans, including architectural drawings, structural engineering, and material specifications. This step ensures that every aspect of the project is carefully considered, allowing for seamless execution and accurate cost estimation.
                </p>
            </div>
            <div class='step-block bg-step4'>
                <Icon name='mdi:worker' />
                <h3>Construction</h3>
                <p>
                    With the plans in place, our dedicated construction team takes charge of turning your vision into reality. Our experienced craftsmen, project managers, and tradespeople work together with precision and attention to detail, ensuring that each element is meticulously executed. We maintain open lines of communication throughout the construction process, keeping you updated on progress and addressing any questions or concerns that may arise.
                </p>
            </div>
            <div class='step-block bg-step5'>
                <Icon name='ps:magnifying-glass' />
                <h3>Inspections</h3>
                <p>
                    At Logan Brown Construction, we prioritize quality and strive for excellence in every project. Throughout the construction phase, our team conducts regular inspections and quality control checks to ensure that all work meets our rigorous standards. We pay close attention to every detail, ensuring that the finished result is of the highest quality and exceeds your expectations.
                </p>
            </div>
            <div class='step-block bg-step6'>
                <Icon name='fa-regular:handshake' />
                <h3>Project Completion</h3>
                <p>
                    Once construction is complete, we conduct a final walkthrough to ensure that every element of the project meets your satisfaction. We address any remaining items and make sure that all finishing touches are in place. We take pride in delivering projects on time and within budget. With the utmost care, we hand over your completed space, ready for you to enjoy and create lasting memories.
                </p>
            </div>
        </section>

        <section class="p-6 pb-0 flex flex-col justify-center items-center">
			<button class="light_button">Get In Touch</button>
			<div class="line"></div>
		</section>
		<section>
            {articles[0] ?
            <ProjectList client:load count={2} articles={articles} home={false} />
            : null }
		</section>
        <Footer />
    </body>
