@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .body {
        @apply scroll-smooth
    }
    /* MISC. STYLES */
    .slider {
        @apply min-h-[350px] h-72 lg:h-[600px] lg:mx-56 overflow-hidden flex
    }
    .slide {
        @apply w-full h-full object-cover
    }
    .light_button {
        @apply bg-whiteBlue text-darkBlue font-serif
        shadow-md p-2 px-3 text-xl font-bold tracking-tight
        hover:opacity-90 active:opacity-80 transition-all
        md:text-3xl 
        lg:my-12 lg:text-4xl lg:p-3
    }
    .dark_button {
        @apply bg-darkBlue text-accentGreen font-serif 
        shadow-md p-2 px-3 text-xl font-light tracking-tight
        hover:bg-step2 active:opacity-80 transition-all
        md:text-3xl
        lg:my-12 lg:text-4xl lg:p-3
    
    }
    .see_all {
        @apply bg-darkBlue text-whiteBlue font-serif
        shadow-md p-1 px-6 text-xl font-light tracking-tight
        hover:opacity-60 active:opacity-80 transition-all
        md:text-3xl
    }
    .section-title  {
        @apply flex items-center justify-center text-whiteBlue 
        font-serif text-[40px]
        md:text-5xl md:p-6
        lg:text-6xl lg:p-10
    }
    .section-title-light  {
        @apply flex items-center justify-center text-darkBlue bg-whiteBlue text-center
        font-serif text-[40px]
        md:text-5xl md:p-6
        lg:text-6xl lg:p-10
    }
    .line {
        @apply h-[1px] bg-whiteBlue w-full mt-6
    }
    /* NAVBAR STYLES */
    .navbar {
        @apply flex justify-between relative items-start pb-5 z-10
        lg:items-center lg:pt-6 lg:px-12 lg:bg-darkBlue lg:bg-opacity-95
    }
    /* Large screen styles */
    .navbar-bar {
        @apply flex flex-row flex-wrap
         items-center justify-end gap-8
    }
    .navbar img {
        @apply h-12 w-auto mt-6 ml-6 lg:mt-0 lg:ml-0
    }
    .navbar-icon {
        @apply h-10 w-10 text-whiteBlue right-3 absolute z-20 mt-6 mr-6
        cursor-pointer lg:hidden 
    }

    .navbar-menu {
        @apply flex flex-col h-[100vh] bg-darkBlue bg-opacity-95 w-full
         fixed
         items-center justify-start gap-5 pt-16
    }
    .navbar-menu_item {
        @apply text-whiteBlue font-serif text-4xl lg:text-2xl tracking-widest
        hover:text-accentGreen hover:opacity-50
    }
    
    .menu-active {
        @apply text-accentGreen
    }
/* ------------------------------------------------------------------------------ */
/* LANDING PAGE STYLES */
/* HERO SECTION STYLES */

    .hero-section {
        @apply relative h-screen bg-no-repeat left-0 -mt-28 bg-hero_image bg-cover bg-center
    }
    .hero-section_content {
        @apply absolute bottom-6 p-12 lg:bottom-36 lg:left-52
    } 
    .hero-section_content h1,
    .hero-section_content h2 {
        @apply font-serif text-whiteBlue
    }

    .hero-section_content h1 {
        @apply text-4xl font-extrabold tracking-tighter leading-none w-2/3
        md:text-6xl
    }
    .hero-section_content h2 {
        @apply text-xl font-normal leading-none mt-3
        md:text-2xl md:w-3/5
    }
    .hero-section_buttons {
        @apply flex gap-4 mt-6
    }

    /* TESTIMONIAL SECTION STYLES */
    .testimonial {
        @apply lg:my-6
    }
    
    .testimonial-review {
        @apply text-whiteBlue text-xs mx-12 mt-6 mb-0 font-sans 
        font-normal text-justify pt-3
        md:text-xl md:px-20 md:pt-6
        lg:text-2xl lg:px-56
    }

    .testimonial-name {
        @apply text-whiteBlue text-sm mx-20 my-3 mb-9 font-sans 
        font-normal text-end    
        md:text-2xl  lg:text-3xl lg:text-center
    }

    /* SERVICES SECTION */

    .services {
        @apply flex flex-col justify-center items-center
    }
    .services-info {
        @apply flex flex-col justify-center items-center bg-whiteBlue shadow-inner py-6
        lg:flex-row lg:p-12
    }

    .services-infoblock {
        @apply flex flex-col items-center justify-center px-16 p-3 text-justify rounded-xl
        hover:bg-whiteSmoke transition-all
    }

    .services-infoblock h3 {
        @apply font-semibold text-xl tracking-wider
        my-2 underline
        md:text-3xl
    }
    .services-infoblock p {
        @apply text-xs font-medium leading-tight
        md:text-lg md:px-40 md:py-1
        lg:px-0
    }

    .services-infoblock_icon {
        @apply text-darkBlue h-14 w-14
        md:h-20 md:w-20
    }

    /* CONTACT SECTION STYLES */

    .contact {
        @apply my-9 px-10 font-serif text-whiteBlue flex flex-col 
        items-center text-center justify-center lg:p-12
        
    }

    .contact h2 {
        @apply text-xl leading-tight tracking-tight font-semibold font-serif
        md:text-2xl lg:text-3xl
    }
    .contact a {
        @apply text-[40px] text-accentGreen tracking-tight font-semibold font-numbers
        md:text-5xl md:py-3 cursor-pointer hover:text-accentGreen hover:opacity-80 transition-all
    }
    .contact p,
    .contact p a {
        @apply text-xs tracking-tight font-semibold font-serif text-whiteBlue
        md:text-xl lg:text-2xl
    }

    /* RECENT PROJECT SECTION STYLES */
    .projects {
        @apply bg-whiteBlue pt-3
    }
    .projects-container h3 {
        @apply text-darkBlue font-serif text-5xl -mb-6   
    }

    .projects .project-list {
        @apply pt-0
    }

    /* ABOUT SECTION STYLES */
    .about {
        @apply p-6 pt-9 flex flex-col items-start w-full justify-between 
        md:flex-col md:items-center 
        lg:items-start lg:py-20 lg:px-48 lg:justify-around
        
    }

    .about-title {
        @apply mb-2 
    }
    .about-title h2 {
        @apply font-serif text-whiteBlue text-[40px] tracking-tight
        clear-right leading-none 
        md:text-5xl 
    }
    .about-title h3 {
        @apply font-sans mt-1 text-whiteBlue opacity-50 text-[9px] tracking-wider
        md:text-lg
    }
    .about-content {
        @apply flex items-start justify-between gap-3 flex-col
        md:flex-col md:items-center
        lg:flex-row  lg:items-start  
    }
    .about-content p {
        @apply font-sans text-whiteBlue text-xs tracking-wider
         leading-4 font-light text-justify
        md:text-xl md:w-full md:px-24 md:pt-2 md:pb-4
        lg:p-0 lg:w-3/5
    }
    .about img {
        @apply aspect-square h-auto items-center self-center
        md:w-1/3 md:m-0
        lg:-m-20 lg:h-[300px] lg:w-[300px] 
    }
    /* FOOTER STYLES */

    .footer {
        @apply p-6 flex flex-col
        gap-3 lg:items-center lg:gap-6 lg:mt-40 
        
    }

    .footer-links  {
        @apply flex flex-col gap-3 text-whiteBlue 
        lg:flex-row
        lg:justify-between
        
    }
    .footer-links img {
        @apply w-3/5 mb-3 
        lg:w-1/5 lg:h-1/2
    }
    .footer-links h3 {
        @apply font-sans text-base tracking-wider font-semibold mb-1
        md:text-2xl md:mb-1
        lg:text-xl
    }
    .footer-links_contact {
        @apply mb-3
    }
    .footer-links_contact li:first-of-type {
        @apply text-base font-numbers underline
        md:text-xl
        lg:text-lg
    }
    .footer-links_contact li {
        @apply text-xs font-serif flex items-center gap-3
        md:text-xl md:my-1
        lg:text-lg
    }
    .footer-icon {
        @apply h-6
        md:h-9
    }

    .footer-links_social {
        @apply flex flex-col
    }
    .footer-links_social ul {
        @apply flex gap-3
    }
    .footer-social_icon {
        @apply h-9 md:h-12
    }

    .footer-legal {
        @apply text-whiteBlue font-serif text-[10px] tracking-tight mt-2 font-extralight
        md:text-lg
        lg:text-base lg:text-center
    }

/* ----------------------------------------------------------------------------- */
    
/* CONTACT PAGE STYLES */

    .contact-title {
        @apply flex-col items-center justify-center p-3
    }
    .contact-title h1, .contact-title h2 {
        @apply font-semibold tracking-tight font-serif opacity-80
        px-3 text-darkBlue text-[28px] text-center leading-tight
    }
    .contact-title a {
        @apply font-numbers underline font-semibold text-[44px] text-darkBlue
    }
    .contact-title h2 {
        @apply text-xl
    }

    .contact-form {
        @apply flex flex-col justify-center
    }

    .contact-form label {
        @apply text-xs text-whiteBlue opacity-80 tracking-tight ml-2 my-1
    }
    .contact-form input, 
    .contact-form textarea {
        @apply text-sm text-darkBlue tracking-tight p-2 font-bold rounded-md
    }
    .contact-form input:focus, 
    .contact-form textarea:focus {
        outline-color: #f1ff31;
    }
    .contact-form input:invalid, 
    .contact-form textarea:invalid {
        outline-color: #FF4B4B;
    }
    .contact-form input:valid, 
    .contact-form textarea:valid {
        outline-color: #22FF00;
    }

    .send_button {
        @apply my-6 font-semibold text-2xl text-whiteBlue  p-3
         border-whiteBlue border-solid border-2 rounded-md
    }

    .send_button:active {
        @apply bg-accentGreen transition-all
    }

    

    
/* Adapted from https://codepen.io/Metty/pen/MWjOavR */
    .contact-form_radio-selection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        padding: 20px 0px;
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    }
    .contact-form_radio-selection .option{
        height: 50px; 
        width: 100%;       
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 10px;
        border: 2px solid #E8F1F2;
        transition: all 0.3s ease;
        margin-left: 0;
        opacity: 100;
    }
    .contact-form_radio-selection .option .dot{
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-items: center;
        background: #E8F1F2;
        border-radius: 50%;
        position: relative;
    }
    .contact-form_radio-selection .option .dot::before{
        position: absolute;
        content: "";
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: #E8F1F2;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.3s ease;
    }
    input[type="radio"]{
        display: none;
    }
    #option-1:checked:checked ~ .option-1,
    #option-2:checked:checked ~ .option-2,
    #option-3:checked:checked ~ .option-3,
    #option-4:checked:checked ~ .option-4{
    border-color: #E8F1F2;
    background: #E8F1F2;
    }
    #option-1:checked:checked ~ .option-1 .dot,
    #option-2:checked:checked ~ .option-2 .dot,
    #option-3:checked:checked ~ .option-3 .dot,
    #option-4:checked:checked ~ .option-4 .dot{
    background: #161D27;
    }
    #option-1:checked:checked ~ .option-1 .dot::before,
    #option-2:checked:checked ~ .option-2 .dot::before,
    #option-3:checked:checked ~ .option-3 .dot::before,
    #option-4:checked:checked ~ .option-4 .dot::before{
    opacity: 1;
    transform: scale(1);
    }
    .contact-form_radio-selection .option span{
    font-size: 14px;
    color: #E8F1F2;
    }
    #option-1:checked:checked ~ .option-1 span,
    #option-2:checked:checked ~ .option-2 span,
    #option-3:checked:checked ~ .option-3 span,
    #option-4:checked:checked ~ .option-4 span{
    color: #161D27;
    font-weight: bold;
    }


/* SERVICE PAGE STYLES */

    .services-content {
        @apply text-whiteBlue font-sans text-justify
        p-6 pb-0 flex flex-col
        lg:w-[998px] m-auto
    }
    .services-content h2,
    .services-content h3 {
        @apply font-serif text-left text-2xl 
        font-semibold tracking-wider leading-6 mb-3
        lg:text-3xl
    }
    .services-content p {
        @apply text-sm font-normal mb-6
        lg:text-xl lg:leading-8
    }

    .services-content ul {
        @apply decoration-auto text-left text-base font-medium list-disc px-6
    }
    .services-content li {
        @apply text-xl leading-8 font-normal 
    }

    /* DESIGN AND BUILD SPECIFIC STYLES */
    .step-block {
        @apply flex flex-col items-center justify-center
        text-whiteBlue shadow-xl p-5 rounded-xl
        lg:w-[800px] lg:m-auto lg:p-32 lg:pt-16 
    }
    .step-block :first-child {
        @apply h-12 w-12 
        lg:h-24 lg:w-24
    }
    .step-block h3 {
        @apply font-serif text-xl font-semibold tracking-wider my-3
        lg:text-3xl
    }
    .step-block p {
        @apply font-sans text-sm font-normal text-justify
        lg:text-xl lg:leading-8
    }

    /* ABOUT PAGE SPECIFIC STYLES */

    .about-mtb {
        @apply flex items-center mb-3 justify-center
        lg:justify-center lg:w-full
    }
    .about-mtb img {
        @apply w-1/4
    }

    .about-mtb_title {
        @apply flex flex-col ml-3

    }

    .about-mtb_title h2 {
        @apply font-serif text-[32px] tracking-wider font-semibold
        w-full mb-1
        lg:text-6xl
    }
    .about-mtb_title h3 {
        @apply font-sans text-xl tracking-wider mb-0
        lg:text-3xl
    }
    .about-mtb_title h4 {
        @apply font-sans italic text-[11px] opacity-50 tracking-wider
        lg:text-xl  
    }

    /* PROJECT CARD STYLES */

    .project-card {
        @apply my-3 rounded-lg flex flex-col relative shadow min-h-[300px]
        hover:scale-105 transition-all max-w-[700px]

    }
    .project-card img {
        @apply object-cover rounded-lg 
    }

    .project-card_content {
        @apply flex flex-col absolute bottom-0 bg-whiteBlue px-6 pb-3 pt-2
        justify-start rounded-b-lg w-full
    }
    .project-card_date {
        @apply font-semibold text-[8px] opacity-50 tracking-wider
        text-xs
    }
    .project-card_title {
        @apply font-semibold text-base tracking-wider my-1 leading-5
        md:text-2xl md:leading-6
    }
    .project-card_description {
        @apply text-xs tracking-wider leading-4
        md:text-base md:leading-4
    }

    /* PROJECT LIST STYLES */
    
    .project-list {
        @apply pt-6 pb-6 flex flex-col px-6 gap-3
        items-center
    }
    .project-list_button-container {
        @apply flex items-center justify-center w-full
        
    }

    /* SENT MESSAGE FOR CONTACT FORM */
    .contact-form_sent {
        @apply flex flex-col items-center justify-center font-serif
    } 
    .contact-form_sent h3 {
        @apply text-4xl font-serif
    }
    .contact-form_sent p {
        @apply text-base font-serif -m-3
    }

    /* ARTICLE PAGE STYLES */

    .article-page_section {
        @apply flex flex-col p-6 text-whiteBlue
        md:px-20
        lg:px-32
    }

    .article-page_section-heading {
        @apply flex items-end mb-3
    }
    .article-page_section-heading h1 {
        @apply font-semibold flex-1
        md:text-2xl
        lg:text-3xl
    }
    .article-page_section-heading p {
        @apply text-xs opacity-50
        md:text-base
        lg:text-lg
    }

    .article-page_section-article {
        @apply text-sm leading-6 text-justify
        md:text-lg
        lg:text-xl lg:leading-8
    }


}