---
import './index.css'
import Navbar from '../components/navbar.jsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Logan Brown Construction</title>
	</head>
	<body class="bg-darkBlue p-6 flex flex-col">
		<Navbar client:load />
		<div>Hero section - Astro Hard Code</div>
		<div>Testimonial - React Component</div>
		<div>Slider - React Component</div>
		<div>Services - Astro Hard Code</div>
		<div>Call Today - Astro Hard Code</div>
		<div>Project Section - React Component</div>
		<div>Logan Picture - Astro Hard Code</div>
		<div>Footer - Astro Component</div>		
	</body>
</html>
