---
import './index.css'
import Navbar from '../components/navbar.jsx'
import hero_image from '../../public/assets/hero_img.png'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Logan Brown Construction</title>
	</head>
	<body class="bg-darkBlue flex flex-col">
		<!-- Navbar -->
		<Navbar client:load />
		<!-- Hero Section -->
		<section class="hero-section">
			<div class="hero-section_content">
				<h1>Make your dream home a reality.</h1>
				<h2>Friendly and professional build specialists based in Christchurch</h2>
				<div class="hero-section_buttons">
					<button class="light_button">Our Services</button>
					<button class="dark_button">Get in Touch</button>
				</div>
			</div>
		</section>
		<div>Testimonial - React Component</div>
		<div>Slider - React Component</div>
		<div>Services - Astro Hard Code</div>
		<div>Call Today - Astro Hard Code</div>
		<div>Project Section - React Component</div>
		<div>Logan Picture - Astro Hard Code</div>
		<div>Footer - Astro Component</div>		
	</body>
</html>
