---
import './index.css'
import Footer from '../components/footer.astro';
import Navbar from '../components/navbar';
import ProjectList	from '../components/ProjectList'
import articles from '../articles/articles';

const title = 'the-cashmere-dream'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Logan Brown Construction | {title}</title>
	</head>
	<body class="bg-darkBlue flex flex-col">
        <Navbar client:load />
        <slot>

        </slot>
		
        <ProjectList client:load count={3} articles={articles} home={false} />


        <Footer />
    </body>
</html>