---
import './index.css'
import Footer from '../components/footer.astro';
import Navbar from '../components/navbar';
import ProjectList from '../components/ProjectList';
import articles from '../articles/articles'
console.log(articles)
import '../../node_modules/animate.css/animate.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Logan Brown Construction | Projects</title>
	</head>
	<body class="bg-darkBlue flex flex-col">
        <Navbar page='recentwork' client:load />
		<div class="section-title-light">
			<h1 class="animate__animated animate__fadeIn animate__slow">Our Projects</h1>
		</div>
		{articles[0] ?
        <ProjectList client:load count={3} articles={articles} home={false} />
		: 	<div class="flex w-full items-center justify-center p-12">
				<p class="text-whiteBlue text-xl">Stay tuned, articles are coming soon!</p>
			</div>
		}


        <Footer />
    </body>